.button {
  width: 6.5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  display: block;
  font-size: 0.8rem;
  color: #fff;
  margin: 1rem auto;
  border: 0px;
}
html {
  font-size: 20px;
  font-size: 6vw;
  background: url("../image/bg.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}
.reject::before,
.welcome::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
  background: transparent url("../image/home.jpg") no-repeat;
  background-size: 100% 100%;
}
.reject {
  margin: 5rem auto 0;
  width: 9rem;
  font-size: 0.8rem;
  line-height: 150%;
  text-align: center;
  padding-top: 9rem;
}
.reject .emotion {
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 15rem;
  position: absolute;
  width: 9rem;
  top: 5rem;
  z-index: -1;
}
.reject .emotion_cry {
  background-image: url("../image/reject_cry.png");
}
.reject .emotion_laugh {
  background-image: url("../image/reject_laugh.png");
}
.welcome {
  width: 14rem;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 150%;
  margin: 0.5rem auto;
}
.welcome .intro {
  max-height: 12rem;
  background-color: #fcfccc;
  padding: 0.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin: 1rem auto 0px;
  box-sizing: border-box;
}
.welcome .intro p:first-child {
  margin-top: 0px;
}
.welcome .banner {
  background: transparent url("../image/introduction.png") no-repeat;
  background-size: 14rem;
  width: 100%;
  height: 4rem;
  display: block;
  margin: 0.5rem auto;
}
.welcome .info > h3 {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  color: #fff;
}
.welcome .info input {
  font-size: 0.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 0px none;
  margin-top: 0.5rem;
  padding-left: 0.2rem;
  background-color: #fcfccc;
}
.welcome .submit {
  background-color: #f88;
  border-radius: 0.5rem;
  font-weight: bold;
}
.quiz::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  background: transparent url("../image/ladder.png") no-repeat;
  background-size: 3rem;
  background-position: 100% 0.5rem;
}
.quiz::after {
  content: '';
  background: transparent url("../image/girl.png") no-repeat;
  background-size: contain;
  display: block;
  width: 1rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: -webkit-transform 2s ease-in-out 0.5s;
  transition: -webkit-transform 2s ease-in-out 0.5s;
  transition: transform 2s ease-in-out 0.5s;
  transition: transform 2s ease-in-out 0.5s, -webkit-transform 2s ease-in-out 0.5s;
}
.quiz:hover::after {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}
.quiz .timer {
  display: none;
}
.quiz .panel .grade {
  width: 4rem;
  height: 4rem;
  background: transparent url("../image/flag.png") no-repeat;
  background-size: contain;
  margin-top: 0.35rem;
  padding-left: 2.5rem;
  box-sizing: border-box;
  padding-top: 1rem;
}
.quiz .panel .grade .tag:first-child {
  font-weight: bold;
  box-sizing: border-box;
  width: 0.5rem;
  height: 3rem;
  display: block;
  font-size: 0.6rem;
}
.quiz .panel .grade .tag:first-child span {
  font-size: 0.8rem;
  display: block;
}
.quiz .panel .grade .tag:not(:first-child) {
  display: none;
}
.question {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.5rem 0px 0px 0.5rem;
  width: 13rem;
  background-color: #fcfccc;
  border-radius: 1rem;
  font-size: 0.8rem;
  line-height: 150%;
}
.question .option_list {
  width: 13.5rem;
  padding: 0.5rem;
  margin: 0px auto;
  font-size: 0.8rem;
  line-height: 150%;
}
.question .question_option {
  margin: 0.3rem 0;
}
.question .question_option input[type='radio'] + label:before {
  border-radius: 100%;
}
.question .question_option input[type='radio'],
.question .question_option input[type='checkbox'] {
  visibility: hidden;
}
.question .question_option input[type='radio'] + label,
.question .question_option input[type='checkbox'] + label {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  float: left;
  cursor: pointer;
  text-indent: 0.8rem;
  padding-right: 3rem;
}
.question .question_option input[type='radio'] + label:before,
.question .question_option input[type='checkbox'] + label:before {
  position: absolute;
  display: block;
  content: "";
  top: 0.3rem;
  width: 0.5rem;
  height: 0.5rem;
  left: -0.25rem;
  background: #333;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5) inset;
}
.question .question_option input[type='radio']:checked + label:before,
.question .question_option input[type='checkbox']:checked + label:before {
  background: #3c3 repeat;
}
.question .submit {
  display: block;
  width: 6rem;
  height: 2rem;
  line-height: 1.75rem;
  font-size: 0.85rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 1rem auto;
  background-color: #f88;
  background-size: 100%;
}
.rank {
  box-sizing: border-box;
  width: 14rem;
  border-radius: 1rem;
  padding: 2rem 1rem 0.5rem;
  margin: 2.5rem auto;
  background: #fcfccc;
  font-size: 0.8rem;
  line-height: 150%;
}
.rank .banner {
  background: transparent url("../image/trophy.png") no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem auto 1.5rem;
  display: block;
}
.rank .submit {
  background-color: #f88;
  border-radius: 1rem;
  font-weight: bold;
}
.modal .overlay {
  content: '';
  position: fixed;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.modal .dialogue {
  box-sizing: border-box;
  padding: 2rem 1rem 1rem;
  width: 12rem;
  background: #fcfccc url("../image/footer.png") no-repeat;
  background-position: bottom center;
  background-size: contain;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal .dialogue .submit {
  background-color: #f88;
  background-size: contain;
  line-height: 1.75rem;
  width: 5.75rem;
  height: 1.75rem;
  text-align: center;
  margin: 0.75rem auto 0.3rem;
  color: #fff;
  border-radius: 0.3rem;
}
.modal .emotion {
  box-sizing: border-box;
  position: absolute;
  left: 0rem;
  top: -1.5rem;
  width: 12rem;
  background: transparent url("../image/title.png") no-repeat;
  background-size: 100%;
  height: 3rem;
}
